{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SERVICES</title>
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <h1 style="text-align: center; font-family:sans-serif; font-weight: bolder;">SERVICES</h1>
</head>
<body>
    <h2>OIL SERVICES</h2><br><img src="{% static 'images/oil.jpg'%}" class="dp"><br>
    <h2>INSURANCE CLAIMS</h2><br><img src="{% static 'images/ic.jpeg'%}" class="dp" sizes="945px"><br>
    <h2>WATER WASH</h2><br><img src="{% static 'images/waterwash.jpg'%}" class="dp" sizes="945px"><br>
    <h2>SPARE PARTS</h2><br><img src="{% static 'images/sparepts.jpg'%}" class="dp" sizes="945px"><br>
    <h2>ACCESSORIES</h2><br><img src="{% static 'images/acc.jpg'%}" class="dp" sizes="945px"><br>
    <br><br>
    <br>
    <br><h2>FEATURES OF OUR CAR SERVICES</h2>
    <br>
    <br>
    <table class="_1PX23">
        <col class="smFrW">
        <thead class="_2-e8a">
            <tr><td>Services Type</td>
                <td>Price Starts From (<!-- -->₹ <!-- -->)</td>
                <td>Savings</td>
            </tr>
        </thead>
        <tbody class="_1B_A4">
            <tr class="_31F2F">
                <td>Car Inspection/Diagnostics</td>
                <td>499</td>
                <td>15%</td>
            </tr>
            <tr class="_31F2F">
                <td>Inspection</td>
                <td>499</td>
                <td>25%</td>
            </tr>
            <tr class="_31F2F">
                <td>Door Glass Replacement </td>
                <td>850</td>
                <td>30%</td>
            </tr>
            <tr class="_31F2F">
                <td>Wind Shield Replacement(Insurance)</td>
                <td>1000</td>
                <td>25%</td>
            </tr>
            <tr class="_31F2F">
                <td>Accessories </td>
                <td>1099</td>
                <td>30%</td>
            </tr>
            <tr class="_31F2F">
                <td>Regular AC Service</td>
                <td>1299</td>
                <td>15%</td>
            </tr>
            <tr class="_31F2F">
                <td>Front Head Lights </td>
                <td>1399</td>
                <td>30%</td>
            </tr>
            <tr class="_31F2F">
                <td>Tyres &amp; Wheel Care</td>
                <td>1890</td>
                <td>25%</td>
            </tr>
            <tr class="_31F2F">
                <td>Basic Service</td>
                <td>2099</td>
                <td>10%</td>
            </tr>
            <tr class="_31F2F">
                <td>Batteries</td>
                <td>3199</td>
                <td>15%</td>
            </tr>
            <tr class="_31F2F">
                <td>Ceramic Coating</td>
                <td>14999</td>
                <td>25%</td>
            </tr>
            <tr class="_31F2F">
                <td>Full Body Dent Paint</td>
                <td>23000</td>
                <td>15%</td>
            </tr>
        </tbody>
    </table><BR>

    </div>   

</body>
</html>